/* OGÓLNE USTAWIENIA STRONY */
body {

font-family: Arial;
color: white;
display: flex;
justify-content: center;

margin-top: 40px;

background-color: #0a0a0a;
}

/* TŁO LISTY POKEDEX */

.pokedex-list{

    background-image: url("img/tłoPokeMain.png");
    background-size: cover;
    background-position: center;

}

/* TŁO STRONY SZCZEGÓŁÓW POKEMONA */

.pokedex-details{

    background-image: url("img/tłoPokeDetail.png");
    background-size: cover;
    background-position: center;

}

/* PANEL POKEDEXA */

.pokedexPanel {
    width: 650px;
    background:#111;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #ff2a2a;
    box-shadow: 
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000;
    animation: neon 2s infinite alternate;

}

/* ANIMACJA NEONU */

@keyframes neon{
    from{

        box-shadow: 
        0 0 10px #ff0000,
        0 0 20px #ff0000;

    }

    to{

        box-shadow: 
        0 0 20px #ff0000,
        0 0 40px #ff0000,
        0 0 60px #ff0000;

    }

}

/* NAGŁÓWEK */

h1{
    text-align: center;

    color: #ff2a2a;

    margin-bottom: 20px;

}

/* PASEK WYSZUKIWANIA */

.searchBar{

    display: flex;

    margin-bottom: 20px;

}

/* INPUT */

.searchBar input{
    
    flex: 1;

    padding: 10px;

    background: #1a1a1a;

    border: 1px solid #ff2a2a;

    color: white;

    border-radius: 5px;

}

/* PRZYCISK */

.searchBar button{
    background: #ff2a2a;

    border: none;
    
    padding: 10px 15px;

    margin-left: 5px;

    cursor: pointer;

    border-radius: 5px;

}

/* FILTRY */

.filters{

    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    align-items: center;

}

/* WYBÓR TYPÓW */

#typeFilter{

    background: #1a1a1a;
    color: white;

    border: 1px solid #ff2a2a;

    padding: 8px 10px;

    border-radius: 6px;

    cursor: pointer;

}

#typeFilter:focus{
    outline: none;
    box-shadow: 0 0 8px #ff0000;

}

/* PO NAJECHANIU NA FILTR */

#typeFilter:hover{

    background: #ff5555;

}

/* CHECKBOX ULUBIONYCH POKEMONÓW */

#favoritesFilter{

    cursor: pointer;

}

.filters label{

    display: flex;
    align-items: center;
    gap: 5px;

}

/* LISTA POKEMONÓW */

.pokedex{

    margin: 0;

    padding: 0;

    padding-right: 15px;

    max-height: 500px;
    overflow-y: auto;

}

/* SCROLLBAR */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #111;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#ff2b2b, #cc0000);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #ff4444;
}

/* KAŻDY POKEMON */

.pokedex li{

    display: flex;

    align-items: center;

    justify-content: space-between;

    background: #1a1a1a;
    
    margin: 6px 0;

    padding: 10px;

    border-radius: 6px;

    border: 1px solid #ff2a2a;

}

/* HOVER */

.pokedex li:hover{

    background: #2a0000;

    transform: scale(1.02);

    transition: 0.2s;

}

/* NAZWA POKEMONA */

.pokedex a{

    color: white;

    text-decoration: none;

    flex: 1;

    margin-left: 10px;

}

/* GWIAZDKA */

.star{

    background: none;
  
    border: none;

    color: #ff2a2a;

    font-size: 18px;

    cursor: pointer;

}

/* POKEBALL */

.pokeball{

    width: 20px;

    height: 20px;

    border-radius: 50%;

    background: linear-gradient(
        to bottom,
        red 50%,
        white 50%
    );

    border: 2px solid black;

    position: relative;

    margin-right: 10px;

}

/* ŚRODEK POKEBALLA */

.pokeball::after{
    
    content: "";
    
    width: 6px;

    height: 6px;

    background: white;

    border: 2px solid black;

    border-radius: 50%;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%,-50%);

}

/* OBRAZEK POKEMONA */

.pokeImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* NUMER POKEMONA */

.pokedex{
    counter-reset: pokemon;
}

.pokedex li::before{
    counter-increment: pokemon;
    content: "#"(pokemon, decimal-leading-zero) " ";
    font-weight: bold;
    margin-right: 10px;
}

/* PODŚWIETLENIE POKEMONA PRZY NAJECHANIU */

.pokedex li:hover{
    background: #333;
    transform: scale(1.03);
    transition: 0.2s;
}

/* ANIMACJA GWIAZDKI */

button{
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    transform: scale(1.3);
}

/* WYGLĄD GWIAZDKI */

.pokedex button{
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: gold;

    transition: 0.2s;
    
}

/* STRONA SZCZEGÓŁÓW POKEMONA */

body{

    background: #120404;
    font-family: Arial;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

}

.pokemon-card{

    width: 650px;
    padding: 30px;

    background: #1a0a0a;

    border: 3px solid #ff2a2a;
    border-radius: 20px;

    box-shadow: 
    0 0 30px red,
    inset 0 0 20px red;

}

.pokemon-title{

    text-align: center;
    color: #ff4b4b;
    margin-bottom: 25px;

}

.pokemon-image-box{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 220px;

    border: 2px solid #ff2a2a;
    border-radius: 10px;

    margin-bottom: 20px;

    box-shadow: 
    0 0 20px red,
    inset 0 0 10px red;

}

.pokemon-image{

    height: 160px;

}

.pokemon-name-box{

    border: 2px solid #ff2a2a;
    padding: 10px;
    margin-bottom: 20px;

    border-radius: 10px;

    box-shadow: 
    0 0 15px red,
    inset 0 0 10px red;

}

.pokemon-info-box{

    border: 2px solid #ff2a2a;
    padding: 15px;

    border-radius: 10px;

    box-shadow: 
    0 0 15px red,
    inset 0 0 10px red;

}

.links a{

    color: #ff4b4b;
    text-decoration: none;

}

.links a:hover{

    text-decoration: underline;

}

.links{

    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 15px;

}

.pokeBtn{
    flex: 1;

    text-align: center;
    padding: 10px 15px;

    background: #2b0a0a;

    border: 2px solid #ff2a2a;
    border-radius: 8px;

    color: #ff4b4b;
    text-decoration: none;

    font-weight: bold;

    box-shadow: 
    0 0 10px red,
    inset 0 0 8px red;

    transition: 0.2s;

}

.pokeBtn:hover{
    
    background: #3a0d0d;

    transform: scale(1.05);

    box-shadow: 
    0 0 20px red,
    inset 0 0 10px red;

}

.centerBtn{

    flex: 1.3;
}

.links{

    margin-top: 25px;

    display: flex;
    gap: 15px;

    padding: 15px;

    border: 2px solid #ff2a2a;
    border-radius: 10px;

    box-shadow: 
    0 0 15px red,
    inset 0 0 10px red;

    background: #1a0a0a;

}

/* FILTR ULUBIONYCH POKEMONÓW */

.filters label{

    background: #1a1a1a;

    border: 1px solid #ff2a2a;

    padding: 6px 10px;

    border-radius: 6px;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 6px;

}

.filters label:hover{

    box-shadow: 0 0 6px #ff0000;

}

/* CHECKBOX */

#favoritesFilter{

    accent-color: #ff2a2a;

    cursor: pointer;

}

/* PRZYCISK DO POKEMONA */

.pokedex li button{

    background: transparent;
    border: 1px solid #ff2a2a;

    color: #ffcc00;

    font-size: 16px;

    padding: 4px 8px;

    border-radius: 6px;

    cursor: pointer;
}

.pokedex li button:hover{

    background: #ff2a2a;
    color: white;

    box-shadow: 0 0 6px #ff0000;

}

/* PRZYCISKI GENERACJI */

.generation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.gen-btn{
    flex: 1 1 120px;
    max-width: 120px;
    text-align: center;
}

/* PRZYCISK */

.gen-btn{

    background: #1a1a1a;
    color: white;

    border: 2px solid #ff2a2a;

    padding: 8px 14px;

    border-radius: 20px;

    cursor: pointer;

    font-weight: bold;

    transition: all 0.2s ease;

}

/* HOVER */

.gen-btn:hover{

    transform: scale(1.05);

    box-shadow: 0 0 10px #ff0000;

}

/* AKTYWNY PRZYCISK */

.gen-btn.active{

    background:  linear-gradient(#ff2a2a, #cc0000);

    color: white;

    box-shadow: 
    0 0 10px #ff0000,
    0 0 20px #ff0000;

}

/* EFEKT KLIKNIĘCIA */

.gen-btn.active{
    transform: scale(0.95);
}

/* PZYCISKI MENU */

.sideMenu{
    position: fixed;

    left: -120px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: 0.3s;
}

/* PO NAJECHANIU NA MENU */

.sideMenu:hover{
    left: 0px;
}

/* POJEDYNCZE PRZYCISKI MENU */

.menuItem{

    background: #1a1a1a;

    border: 2px solid #ff2a2a;

    color: white;

    padding: 12px 20px;

    border-radius: 0 10px 10px 0;

    cursor: pointer;
    
    white-space: nowrap;

}

/* HOVER */

.menuItem:hover{
    background: #ff2a2a;
    box-shadow: 0 0 10px #ff0000;
}

.sideMenu{
    left: -90px;
}
